[submodule "3rdParty/glfw"]
	path = 3rdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdParty/glm-1.0.1"]
	path = 3rdParty/glm-1.0.1
	url = https://github.com/icaven/glm.git
[submodule "3rdParty/imgui-docking"]
	path = 3rdParty/imgui-docking
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "3rdParty/assimp"]
	path = 3rdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "3rdParty/imguizmo"]
	path = 3rdParty/imguizmo
	url = https://github.com/assimp/assimp.git
